body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


/* Create a Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* First image (Logo. Full height) */

.bgimg-1 {
  background-image: url('../../assets/stadion.jpg');
  min-height: 100%;
}


/* Second image (Portfolio) */

.bgimg-2 {
  background-image: url("../../assets/fans.jpg");
  min-height: 400px;
}


/* Third image (Contact) */

.bgimg-3 {
  background-image: url("../../assets/bvb-flag.jpg");
  min-height: 400px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

.gallery-image {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu p {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
